<?xml version="1.0" encoding="UTF-8"?>
<suite name="JIRA_Tests" parallel="none">

	<!--<listeners>-->
		<!--<listener class-name="base.ui.TestListener"></listener>-->
	<!--</listeners>-->

	<test name="Jira_UI_Test_Grid_Chrome">
		<parameter name="seleniumGridIp" value="http://127.0.0.1:4444/wd/hub"/>
		<parameter name="useGrid" value="false"/>
		<parameter name="browserName" value="firefox"/>
    		<classes>
		    	<class name="JiraUi" />
		    </classes>
	</test>

	<!--<test name="Jira_UI_Test_Grid_FireFox">-->
		<!--<parameter name="seleniumGridIp" value="http://127.0.0.1:4444/wd/hub"/>-->
		<!--<parameter name="useGrid" value="true"/>-->
		<!--<parameter name="browserName" value="firefox"/>-->
		<!--<classes>-->
			<!--<class name="JiraUi" />-->
		<!--</classes>-->
	<!--</test>-->

	<!--<test name="Jira_API_Test">-->
		<!--<classes>-->
			<!--<class name="JiraApi" />-->
		<!--</classes>-->
	<!--</test>-->

</suite>